<div class="container">
  <h1 class="display-5">Recipes</h1>

  <a href="<%= new_recipe_path %>" class="btn btn-success my-3">New Recipe</a>

  <ul class="list-group">
    <% @recipes.each do |recipe| %>
      <li class="list-group-item d-flex justify-content-between">
        <div class="col-4">
        <%= link_to recipe.name, recipe_path(recipe.id), class: "text-decoration-none text-dark fw-bold me-3" %>
        <%= button_to "Remove", recipe, method: :delete, class: "btn btn-danger btn-sm", data: { turbo_confirm: "Are you sure you want to delete this recipe?" } %>
        </div>
        <div class="col-8">
          <p class="mb-0"><%= recipe.description %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
