<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<%= link_to "Add food", new_food_path, class: "add-link" %>

<table>
  <thead>
    <tr>
      <th>Foods</th>
      <th>Measurement unit</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <%= render partial: 'food', locals: { food: food } %>
    <% end %>
  </tbody>
</table>
